* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: blue;
  text-decoration: none; /* no underline */
}
.App {
  /* text-align: center; */
  height: 100vh;
}

.favorite {
  margin: 62px 0px 0px 20px;
  float: right;
  --star-color: orange;
  /* cursor: pointer; */
  /* margin: 1em auto; */
  font-size: 21px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.favorite-container p {
  float: right;
  cursor: pointer;
  font-size: 26px;
  line-height: 16px;
  margin: 62px 160px 0px 20px;
}
.favorite-container img {
  cursor: pointer;
  margin-left: 100px;
  margin-top: -80px;
  height: 335px;
}
.favorite-container {
  float: right;
  width: 100%;
}
.favorite-inner-container {
  float: right;
  cursor: pointer;
}
.favorite:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.favorite:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.search-field {
  width: 100%;
  display: flex;
  justify-content: center;
  float: right;
  margin-bottom: 60px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .favorite-container img {
    margin-left: 2px;
    margin-top: -33px;
    height: 200px;
  }
  .favorite-container p {
    display: none;
  } 
  .favorite {
    margin: 53px 22px 0px 20px;
  }
}
