@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Libre+Baskerville&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.outter-container {
  clear: both;
  margin-bottom: 24px;
}

.inner-container {
  width: 70%;
  box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
  border-radius: 10px;
  height: 260px;
  display: flex;
  padding: 20px;
  margin: auto;
}

.productImage {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
}

.product-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.product-info h1 {
  font-family: "Merriweather", serif;
  color: #1486eb;
  align-self: flex-start;
  margin-left: 40px;
  width: 80%;
  font-size: 24px;
}

.product-info h4 {
  font-family: "Libre Baskerville", serif;
  align-self: flex-start;
  margin: 15px 40px;
  display: inline;
  font-size: 15px;
}

.product-info h4 span {
  font-weight: 300;
  font-style: normal;
  font-family: serif;
}

.ratings {
  word-break: break-all;
  padding: 10px;
  background-color: #1478dd;
  width: 42px;
  height: 45px;
  border-radius: 10px;
  align-self: flex-end;
  font-size: larger;
  font-weight: bolder;
  color: white;
}

.ratings_word {
  margin-right: 16px;
  font-size: large;
  font-family: "Jost", sans-serif;
}

.room_price {
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
}

.room_price b {
  color: #85bb65;
  font-size: 22px;
}

.rating_container {
  align-self: flex-end;
  position: absolute;
}

.price_container {
  margin-top: auto;
  align-self: flex-end;
}

.room-types {
  margin: 0px 0px 0px 40px;
  color: #34495e;
}

.room-types b {
  margin-top: 20px;
  color: #f42c15;
}

.new_merch {
  font-size: 14px;
  background-color: orange;
  padding: 5px;
  color: #042080;
  letter-spacing: 0.2px;
  border-radius: 5px;
}

.product-info button {
  align-self: end;
  width: 22%;
  padding: 8px;
  font-size: 18px;
  font-family: "Racing Sans One", cursive;
  letter-spacing: 0.6px;
  cursor: pointer;
  background-color: #fae528;
  color: #372a42;
  border: 2px solid #1478dd;
}

@media only screen and (max-width: 600px) {
  .productImage {
    width: 150px;
    height: 200px;
  }
  .inner-container {
    width: 100%;
  }
  .product-info h1 {
    font-size: 11px;
    margin-left: 20px;
    width: 69%;
  }
  .ratings_word {
    display: none;
  }
  .ratings {
    font-size: 10px;
  }
  .product-info h4 {
    font-size: 9px;
    margin: 15px 20px;
  }
  .room-types {
    display: none;
  }
  .room_price {
    font-size: 13px;
  }
  .room_price b {
    font-size: 15px;
  }
  .product-info button {
    /* align-self: center; */
    width: 70%;
    padding: 3px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  .mapLink {
    margin-top: 10px;
    font-size: 13px;
    align-self: flex-end;
  }
  .inner-container {
    border-radius: 0px;
  }
  .outter-container {
    margin-bottom: 15px;
  }
}
