@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pageItem {
  width: 46px;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px;
  padding: 8px 0px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Anton", sans-serif;
  color: #0b196d;
}
.current_page_item {
  width: 46px;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px;
  padding: 8px 0px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Anton", sans-serif;
  color: #0b196d;
  background-color: #86FC96;
}